<script src="https://cdnjs.com/libraries/mathjs">
    import CustomButton from './components/CustomButton.svelte';
    import SubmitButton from './components/SubmitButton.svelte';
    import Scatter from './LinearRegression.svelte';
    import { onMount } from 'svelte'

    // TODO
    // button for submit -> compare slope and intersept to right answers
   	// send data to playgraound via post request
	// data = slope, intersept, rmse
	// console log user in to
    // give feedback responce i.e 'youre right' 'very close'

    let data = [
		{ x: 7, y: 4.82 },
		{ x: 5, y: 5.68 }
	];

// ==============================================
	// create  data = convert(datas.data)
	// function 'convert' to reformat data to list of dicts

	function convert(xs, ys){

		let newData = [];

		for (let val in xs) {
		 newData.push({x: xs[val]});
		}

	 	let i = 0;
	 	// console.log(newData[i])

		for (let val in ys) {
		 newData[i]['y'] = ys[val];
		 i += 1
		}

		// console.log(newData);
	    return newData;
	};

// ==============================================

	let dataurl ='https://svelte.dev/repl/25c5a42977024963accdc3cec81e252e/wikipedia-anscombe-quartet.json';
	let slope = 1.0;
    let intercept = -1.0;
	let rmse = 0;
		
	function get_squerr(total, obj) {
		return total + (slope * obj.x - obj.y + intercept) ** 2 / data.length;
		}
	$: slope, intercept, rmse = (data.reduce(get_squerr, 0.) ** 0.5).toFixed(3);
	  

	let datas;
	let user_id = 0;


	async function startGame() {

		let myHeaders = new Headers();
		myHeaders.append("Content-Type", "application/json");

		console.log(user_id)
		let body = {user_id:user_id}
		let raw = JSON.stringify( body );

		let requestOptions = {
		  method: 'POST',
		  headers: myHeaders,
		  body: raw,
		  redirect: 'follow'
		};

		const datas = await fetch("http://0.0.0.0:8000/api/playground/", requestOptions)
		  .then(response => response.json())
		  .catch(error => console.log('error', error));

        console.log(datas);
        data = convert(datas.x, datas.y)
        slope = datas.slope
        intercept = datas.intercept
        console.log(data);
        user_id = datas.user_id
		};


	async function submitAnswer() {

		let myHeaders = new Headers();
		myHeaders.append("Content-Type", "application/json");

		let answer = {data:data,
					  slope:slope,
					  intercept:intercept}

		console.log(user_id)
		let body = {user_id:user_id, submit:'submit', answer:answer}
		let raw = JSON.stringify( body );

		let requestOptions = {
		  method: 'POST',
		  headers: myHeaders,
		  body: raw,
		  redirect: 'follow'
		};

		const datas = await fetch("http://0.0.0.0:8000/api/playground/", requestOptions)
		  .then(response => response.json())
		  .catch(error => console.log('error', error));

        console.log(datas);
        data = data
        slope = slope
        intercept = intercept
        // console.log(data);
        user_id = datas.user_id
		};


</script>

<form>
	<div>
		<label class="label" for="intercept">Intercept</label>
		<input type=number default={intercept} bind:value={intercept} min=-3 max=16 step=.001 size=5 name="intercept">
		<input type=range  default={intercept} bind:value={intercept} min=-3 max=16 step=.001 size=5 name="intercept">
	</div>
	<div>
		<label class="label" for="slope">Slope</label>
		<input type=number default={slope} bind:value={slope} min=-1 max=8 step=.001 size=5 name="slope">
		<input type=range  default={slope} bind:value={slope} min=-1 max=8 step=.001 size=5 name="slope">
	</div>
	<div class="label">RMSE</div><div class="value">{rmse}</div><br>

</form>


<div class="chart">
	<div><h2>Scatter Plot</h2>
		<div>
			<div class="label">Model</div>
			<div class="value"><strong>Y</strong> &nbsp; = &nbsp;
				slope &middot; <strong>X</strong> &nbsp; + &nbsp; intercept</div>
	
			<div class="label">Predictions</div>
			<div class="value"><strong>Y</strong> &nbsp; = &nbsp;
				{slope} &middot; <strong>X</strong> &nbsp; + &nbsp; {intercept}</div>
		</div>
	</div>
    <Scatter data={data} bind:slope={slope} bind:intercept={intercept} x1=-.5 x2=16.5/>
    <div>
		<CustomButton on:click={startGame}/>
		<br><br>
	</div>
	<div>
		<SubmitButton on:click={submitAnswer}/>
		<br><br>
	</div>
</div>


<style>
	.value {
	  padding: 6px 10px;
		margin: 0px 10px;
  	box-sizing: border-box;
	}
	.chart {
        width: 100%;
        max-width: 1280px;
        height: calc(100% - 4em);
        min-height: 280px;
        max-height: 960px;
        margin: 0 auto;
    }
	.label {
		font-style: sans-serif;
		font-weight: bold;
		text-align: right;
    clear: both;
    float:left;
		width: 5em;
    margin-top:6px;
    margin-right:16px;
	}
	input[type=range] {
  	padding: 0px 10px;
		margin: 0px 10px;
  	box-sizing: border-box;
	
	}
</style>

